<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.optimism.mylibrary">

    <!-- 在类库中设置了权限  只要应用程序中引用类库 那么权限自动添加类库的权限-->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:supportsRtl="true">

    </application>

</manifest>
