<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.optimism.tenapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="十个"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".FristActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".YijianActivity">
        </activity>
        <activity android:name=".GuanyuActivity">
        </activity>
        <activity android:name=".ZitiActivity">
        </activity>
        <activity android:name=".ImageActivity">
        </activity>
        <activity android:name=".ShoucangActivity">
        </activity>
        <activity android:name=".VideoShoucangZhanshi">
        </activity>
        <activity android:name=".TextShoucangZhanshi">
        </activity>
        <activity android:name=".ImageShoucangZhanshi">
        </activity>
    </application>

</manifest>
